In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("IRIS.csv")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df['species'].value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [5]:
len(df)

150

In [6]:
value_to_drop = "Iris-virginica"

In [7]:
df_filtered = df[df["species"] != value_to_drop]

In [8]:
df_filtered['species'].value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Name: count, dtype: int64

In [9]:
data = df_filtered

In [10]:
data

    sepal_length  sepal_width  petal_length  petal_width          species
0            5.1          3.5           1.4          0.2      Iris-setosa
1            4.9          3.0           1.4          0.2      Iris-setosa
2            4.7          3.2           1.3          0.2      Iris-setosa
3            4.6          3.1           1.5          0.2      Iris-setosa
4            5.0          3.6           1.4          0.2      Iris-setosa
..           ...          ...           ...          ...              ...
95           5.7          3.0           4.2          1.2  Iris-versicolor
96           5.7          2.9           4.2          1.3  Iris-versicolor
97           6.2          2.9           4.3          1.3  Iris-versicolor
98           5.1          2.5           3.0          1.1  Iris-versicolor
99           5.7          2.8           4.1          1.3  Iris-versicolor

[100 rows x 5 columns]

In [11]:
data['species'] = (data['species'] == 'Iris-setosa')*1

C:\Users\HP\AppData\Local\Temp\ipykernel_11612\3726070757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['species'] = (data['species'] == 'Iris-setosa')*1

In [12]:
data

    sepal_length  sepal_width  petal_length  petal_width  species
0            5.1          3.5           1.4          0.2        1
1            4.9          3.0           1.4          0.2        1
2            4.7          3.2           1.3          0.2        1
3            4.6          3.1           1.5          0.2        1
4            5.0          3.6           1.4          0.2        1
..           ...          ...           ...          ...      ...
95           5.7          3.0           4.2          1.2        0
96           5.7          2.9           4.2          1.3        0
97           6.2          2.9           4.3          1.3        0
98           5.1          2.5           3.0          1.1        0
99           5.7          2.8           4.1          1.3        0

[100 rows x 5 columns]

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(data, test_size=0.2, random_state=5)

In [15]:
train_x = train_set.drop('species', axis=1)
train_y = train_set['species']

In [16]:
test_x = test_set.drop('species', axis=1)
test_y = test_set['species']

In [17]:
train_y

94    0
56    0
22    1
39    1
24    1
     ..
73    0
16    1
61    0
78    0
99    0
Name: species, Length: 80, dtype: int32

In [18]:
train_x

    sepal_length  sepal_width  petal_length  petal_width
94           5.6          2.7           4.2          1.3
56           6.3          3.3           4.7          1.6
22           4.6          3.6           1.0          0.2
39           5.1          3.4           1.5          0.2
24           4.8          3.4           1.9          0.2
..           ...          ...           ...          ...
73           6.1          2.8           4.7          1.2
16           5.4          3.9           1.3          0.4
61           5.9          3.0           4.2          1.5
78           6.0          2.9           4.5          1.5
99           5.7          2.8           4.1          1.3

[80 rows x 4 columns]

In [19]:
model = LogisticRegression(random_state=0).fit(train_x,train_y)

In [20]:
test_y_prediction = model.predict(test_x)

In [21]:
test_y_prediction

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0])

In [22]:
test_y

66    0
32    1
46    1
28    1
74    0
23    1
10    1
20    1
17    1
35    1
97    0
37    1
70    0
40    1
60    0
34    1
42    1
57    0
12    1
69    0
Name: species, dtype: int32

In [23]:
y_true = np.array(test_y)
y_pred = np.array(test_y_prediction)

In [24]:
matched  = (y_pred == y_true).sum()
total = len(y_true)
acc = matched/total
acc

1.0